* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "futura-bold";
}

body {
    background: #fff;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 17rem;
}

.heading {
    text-align: center;
    padding: 10px;
    color: black;
}

.head {
    text-align: center;
    padding: 10px;
    color: black;
}

.box {
    height: 100px;
    width: 150px;
    margin: 130px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 20px;
}

#box1 {
    background-color: brown;
}

#box2 {
    background-color: peru;
}

#box3 {
    background-color: cornflowerblue;
}

#box4 {
    background-color: chartreuse;
}

#box5 {
    background-color: darkslategray;
}

.btn {
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    cursor: pointer;
}

#play {
    background-color: purple;
}

#pause {
    background-color: grey;
}